{% extends 'base.html.twig' %}
{% block title %} {% endblock %}
{% block body %}

 <div class="jumbotron" style="margin: 0 auto; margin-top: 20px; width: 100%;">
      <h3>Cabane :{{ cabane.id }}</h3>
    
     <!-- Liste des cabanes qui existe -->
        
            <table class="table table-hover" style="margin-top: 10px;">
                <thead>
                <tr class="table-primary">
                    <th scope="col">#</th>
                    <th scope="col">Nom de Cabane</th>
                    <th scope="col">Destination </th>
                    <th scope="col">Type de Cabane </th>
                    <th scope="col">Capacité</th>
                    <th scope="col">Date de disponibilité</th>
                    <th scope="col">Date de no disponibilité</th>
                    <th scope="col">Equipement</th>
                    <th scope="col">Activités</th>
                    <th scope="col">Hauteur de cabane </th>
                    <th scope="col">Prix</th>
                    <th scope="col">se restaurer</th>
                    <th scope="col">Images</th>
                </tr>
                </thead>
                <tbody>
                
                    <tr>
                        <td>{{ cabane.id }}</td>
                        <td>{{ cabane.nom }}</td>
                        <td>{{cabane.destination}}</td>
                        <td>{{ cabane.type }}</td>
                        <td>{{ cabane.nbrPlace }}</td>
                        <td>{{cabane.dateDisponible ? cabane.dateDisponible|date('Y-m-d') : '' }}</td>
                        <td>{{cabane.dateNondisponible ? cabane.dateNondisponible|date('Y-m-d') : ''}}</td>
                        <td>{{cabane.equipment}}</td>
                        <td>{{cabane.activite}}</td>
                        <td>{{cabane.hauteur}}</td>
                        <td>{{ cabane.prix }}</td>
                        <td>{{cabane.seRestaurer}}</td>
                        <td>
                        
                        {% for image in cabane.images %}
                        <a href="{{ asset('/uploads/'~image.name) }}">
                        <img  src="{{ asset('/uploads/'~image.name) }}" style="width:50px;height=50px;"></a>
                        {% endfor %}

                        </td>
                        <td><a class="btn btn-info" href="{{ path('cabane_edit', {'cabane': cabane.id}) }}">Modifier</a></td>
                        <td> {{ include('cabane/supprimer.html.twig') }}</td>
                    </tr>
              
                </tbody>
            </table>

 <hr>

    <div class="jumbotron" style="margin: 0 auto; margin-top: 20px; width: 100%;">
         <h3>Les Commentaires</h3>
         

        <!-- Liste des commentaires du cabane -->
        {% if cabane.pointVues|length == 0 %}
        <div style="color: red; padding-left: 30px;">Pas de commentaires pour le moment pour ce cabane</div>
        {% else %}
            <table class="table table-hover" style="margin-top: 10px;">
                <thead>
                <tr class="table-primary">
                    <th scope="col">#</th>
                    <th scope="col">Autheur</th>
                    <th scope="col">Contenu</th>
                    <th scope="col"> </th>
                    <th scope="col"> </th>
                </tr>
                </thead>
                <tbody>
                {% for pointVue in cabane.pointVues %}
                    <tr>
                        <td>{{ pointVue.id }}</td>
                        <td>{{ pointVue.autheur }}</td>
                        <td>{{ pointVue.contenu }}</td>
                            <td>                        
                                        <form id="form_remove_pointVue" method="post" action="{{ path('cabane_delete_pointVue', {'cabane': cabane.id , 'pointVue': pointVue.id}) }}">
                                        <input type="hidden" name="_method" value="POST">
                                        <input type="hidden" name="_token" value="{{ csrf_token('post' ~ cabane.id) }}">
                                        <button class="btn btn-dark" id="submit" type="submit">Retirer</button>
                                    </form></td>
                        
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

        <!-- /Liste des commentaires-->

    </div>
    <div class="modal-footer" style="width: 70%; margin: 0 auto; margin-top: 20px;">
 
            <a class="btn btn-secondary" href="{{ path('cabanead_show') }}">Retour</a>
    </div>
     
{% endblock %}
